.name {
    width: 12%;
}

.house {
    text-transform: capitalize;
    width: 10%;
}

.bio {
    height: auto;
    width: 70%;
}

.bioInput {
    height: 50%;
    width: 70%;
}

.textArea {
    width: 98%;
}

.button {
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    border: 1px solid #777;
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
    color: #333;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    font: bold 1em/2em Arial, Helvetica;
    margin: 0.5em;
    padding: 0 1.5em;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    white-space: nowrap;
}

.button:hover {
    background-color: #ddd;
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}

.button:before {
    background: #ccc;
    background: rgba(0, 0, 0, .1);
    border-radius: .15em 0 0 .15em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, .5), 2px 0 0 rgba(255, 255, 255, .5);
    float: left;
    font-size: 1.5em;
    margin: 0 0.5em 0 -1em;
    padding: 0 .2em;
    pointer-events: none;
    text-align: center;
    width: 1em;
}


.edit:before {
    content: "\270E";
}

.save:before {
    content: "\2714";
}

.delete:before {
    content: "\2718";
}